<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Botones
    </mat-panel-title>
  </mat-expansion-panel-header>
  <crs-material-button></crs-material-button>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Campos de texto    
    </mat-panel-title>
  </mat-expansion-panel-header>
  <crs-material-input></crs-material-input>
</mat-expansion-panel>

<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Listas   
    </mat-panel-title>
  </mat-expansion-panel-header>
  <crs-material-list></crs-material-list>
</mat-expansion-panel>