<mat-list>
  <mat-list-item>
    <img mat-line mat-list-avatar src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/main_element/public/media/image/2017/09/dragon-ball-xenoverse-2.jpg?itok=ZZt5BgWy">
    <span mat-line> {{ estudiante1.nombre }} </span>
    <span mat-line> {{ estudiante1.ciudad }} </span>
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/main_element/public/media/image/2017/09/dragon-ball-xenoverse-2.jpg?itok=ZZt5BgWy">
    <span mat-line> {{ estudiante2.nombre }} </span>
    <span mat-line> {{ estudiante2.ciudad }} </span>
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/main_element/public/media/image/2017/09/dragon-ball-xenoverse-2.jpg?itok=ZZt5BgWy">
    <span mat-line> {{ estudiante3.nombre }} </span>
    <span mat-line> {{ estudiante3.ciudad }} </span>
  </mat-list-item>
</mat-list>
